body {
	color: #306090;
	font-family: 'Asap', sans-serif;
	text-align: center;
}

header {
	height: 64px;
	text-align: left;
	padding-left: 70px;
	background-image: url('../images/transparent-logo-64.png');
	background-repeat: no-repeat;
	width: 1200px;
	margin: auto;
}

h1 {
	font-size: 48px;
	line-height: 64px;
}
