body {
	color: #306090;
	font-family: 'Asap', sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	text-align: left;
	width: 1100px;
	margin: auto;
}

h1 {
	padding-left: 70px;
	background-image: url('../images/transparent-logo-64.png');
	background-repeat: no-repeat;
	font-size: 48px;
	height: 64px;
	line-height: 64px;
}

nav {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav a {
	padding-right: 20px;
}

footer {
	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
	color: #c0c0e0;
	width: 1100px;
	margin: auto;
}

#main {
	width: 1100px;
	text-align: left;
	margin: auto;
}
