body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

/*
Add spacing when row sections follow each other (e.G. blog / event lists)
*/
.row + .row {
    margin-top: 15px;
}

.table th, .table td {
     border-top: none !important;
 }

.btn-primary{
    background-color: #006dcc;
}

.navbar-default {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.container-narrow > hr {
	margin: 30px 0;
}

.yadt-hero {
	background-image: url('/images/yadt-background.jpg');
	color: white;
	text-align: center;
}

.yadt-hero .btn {
	font-size: 21px;
	padding: 14px 24px;
	color: white;
}


.marketing {
	margin: 60px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

.top-icon {
	padding-right: 10px;
}
