body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	background-image: url('/images/yadt-background.jpg');
	color: white;
	margin: 40px 0;
	text-align: center;
	height: 380px;
	padding-top: 10px;
}

.jumbotron h2 {
	font-size: 72px;
	line-height: 2;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #0081C5, #005AA0);
	background-image: -webkit-gradient(linear,0 0,0 100%, from(#0081C5), to(#005AA0));
	background-image: -webkit-linear-gradient(top, #0081C5, #005AA0);
	background-image: -o-linear-gradient(top, #0081C5, #005AA0);
	background-image: linear-gradient(to bottom, #0081C5, #005AA0);
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.marketing {
	margin: 60px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

.top-icon {
	padding-right: 10px;
}
