---
layout: default
title: Welcome to YADT an Augmented Deployment Tool
---
<dl>
    <dt>YADT</dt>
    <dd>an Augmented Deployment Tool is a next generation data center deployment and system management tool.</dd>
</dl>

It is based on two central components:
<ul>
    <li>central management of dependencies between services, systems and software packages</li>
    <li>using package based deployment (RPM, DEB ...) for both software and configuration management</li>
</ul>

<a class="getting-started" href="https://github.com/yadt/getting-started">
    Getting started ...
</a>

<p>
    YADT lets you model your data center landscape in a simple, human readable yaml format. The packaging 
    of software and its configuration, the definition of package dependencies, the definition of service
    dependencies, and some basic conventions are the YADT model. With these information, YADT can deploy
    any changes to your software and your configuration to any number of hosts. Of course YADT will also
    deploy all updates to your OS, you can even seperate these OS updates from your application and
    configuration updates.
</p>

<p>
    And YADT assures that the updates and service restarts are done in the correct order over your
    complete data center. YADT does this by analyzing the service and package dependencies, grouping
    dependent services and hosts together into "chuncks". It then rolles the update as a sequential wave
    over all chuncks, thus assuring that your platform as a whole stays online during this process.
</p>

<p>
    YADT also provides a way to collaboratively administer a huge number of hosts concurrently by many
    users. It provides an audit trail of who did what when on which host.            
</p>


<div class="information-row">
    <div class="information-cell">
        <a class="information-title" href="/blog/">Recent Blog Posts</a>
        {% for post in site.categories.blog limit:3 %}
            <a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a>
        {% endfor %}
    </div>
    <div class="information-spacer"></div>
    <div class="information-cell">
        <a class="information-title" href="/events/">Events</a>
        {% for post in site.categories.events limit:3 %}
            <div><a href="{{ post.url }}">{{ post.title }}</a></div>
            <div class="post-date">{{ post.date | date_to_string }}</div>
        {% endfor %}
    </div>
    <div class="information-spacer"></div>
    <div class="information-cell">
        <div class="information-title">Jobs</div>
        Do you like Open Source? Do you want to help building the next generation data center automation?
        <br/><br/>
        <a href="http://www.immobilienscout24.de" target="_blank">ImmobilienScout24</a> is looking for engineers who like to automate everything.
        Check our <a href="http://developer.immobilienscout24.de/engineering/jobs-kein-kalter-kaffee/" target="_blank">developer blog</a> for further information.
    </div>
</div>

