---
layout: default
title: Velocity Europe - Be Fast or Stay Behind.
categories: events
---

<a  href="http://www.slideshare.net/schlomo/be-fast-or-stay-behind-building-a-continuous-delivery-platform" 
    title="Be Fast or Stay Behind - Building a Continuous Delivery Platform"
    target="_blank">
    Be Fast or Stay Behind - Building a Continuous Delivery Platform
</a>
<br>

from {% include ingmarkrusch.html %} and {% include schlomoschapiro.html %}
at <a  href="http://velocityconf.com/velocityeu/">Velocity Europe</a>
(<a  href="http://velocityconf.com/velocityeu/public/schedule/detail/21669">details</a>).

<iframe src="http://www.slideshare.net/slideshow/embed_code/10257147"
        width="1078"
        height="646"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        class="embedded"
        allowfullscreen>
</iframe>

