---
layout: default
title: Linux Tag - Konfigurationsmanagement und Deployment mit RPM und YADT
categories: events
---

<strong>Konfigurationsmanagement und Deployment mit RPM und YADT</strong>
<br>

by {% include ralphangenendt.html %} and {% include arnehilmann.html %}
at <a href="http://www.linuxtag.org/2012/">LinuxTag 2012</a>
(<a href="http://www.linuxtag.org/2012/en/program/overview/details.html?no_cache=1&talkid=105">Event Details</a>).

<iframe src="http://www.youtube.com/embed/_fmO1xd0R7o"
        width="840"
        height="630"
        class="embedded"
        frameborder="0"
        allowfullscreen>
</iframe>


<div class="row-fluid">
        <embed  class="span12"
                type="application/x-shockwave-flash"
                src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
                width="600"
                height="400"
                flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100684964212588500616%2Falbumid%2F5756087198080039169%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
                pluginspage="http://www.macromedia.com/go/getflashplayer">
        </embed>        
</div>

<a href="https://picasaweb.google.com/100684964212588500616/YADTAnAugmentedDeploymentToolAndImmobilienScout24AtTheLinuxTag2012?authuser=0&feat=flashalbum" style="color:#3964c2">View all</a>

