<!doctype html>
<html>
<head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="YADT is a next generation data center deployment and system management tool.">
        <meta name="viewport" content="width=device-width">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="container">
		<div class="masthead">
			<ul class="nav nav-pills pull-right">
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/events/">Events</a></li>
				<li><a href="https://github.com/yadt/yadt.github.com/wiki" target="_blank">Wiki</a></li>
				<li><a href="https://github.com/yadt" target="_blank">Source</a><li>
			</ul>
			<h2 class="muted"><img class="top-icon" src="/images/yadt-logo-32.jpg" alt="yadt"><a href="/">YADT - an Augmented Deployment Tool</a></h2>
		</div>

		<hr>

		{% if page.title != 'YADT - an Augmented Deployment Tool' %}
		<h1 class="marketing">{{ page.title }}</h1>
		{% endif %}

		{% if page.date %}
		<span class="pull-right">
			{{ page.date | date_to_string }}
		</span>
		{% endif %}

		{{ content }}

		<hr>

		<div class="footer">
			<div class="pull-right">
				<!-- icons from http://www.designkindle.com/2011/10/27/socialis/ created by http://veodesign.com -->
				<a href="https://www.twitter.com/YadtProject" target="_blank"><img src="/images/Twitter.png" alt="Twitter/YadtProject"></a>
				<a href="http://www.youtube.com/user/yadtproject/featured" target="_blank"><img src="/images/Youtube.png" alt="youtube/yadt"></a>
				<a href="/rss.xml"><img src="/images/RSS.png" alt="yadt RSS feed"></a>
			</div>
		</div>

		<div class="pull-left muted">
			<p>
				YADT an Augmented Deployment Tool <br>
				Copyright (C) 2010-2013 
				<a href="http://www.immobilienscout24.de/de/ueberuns/impressum.jsp">Immobilien Scout GmbH</a>
				<br>

				Licensed under GNU GPL v3<br>
				<br>
				<small>{{ site.time }}</small>
			</p>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
</body>
</html>
